<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <button (click)="MenuButton()" (click)="drawer.toggle()" class="buttonMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <div>
            <p class="w-100" >Menu</p>
        </div>
        <div>
            <button mat-button class="w-100" (click)="openDialog()">
                Adicionar Bug
            </button>
        </div>
        <div>
            <button mat-button class="w-100">
                Adicionar Usuário
            </button>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar class="background">
            <button (click)="MenuButton()" (click)="drawer.toggle()" class="buttonMenu">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-drawer-content>
</mat-drawer-container>
