.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login-card {
    max-width: 450px;
    max-height: 400px;
}

.mat-card-header {
    justify-content: center;
}

.mat-card-title {
    font-size: 26px;
    margin-top: 10px;
    text-transform: uppercase;
}

.mat-card-content {
    margin-top: 5%;
}

.mat-form-field {
    width: 100%;
}

.mat-form-field + .mat-form-field {
    margin-top: 10px;
}

.mat-spinner {
    margin-right: 2%;
}
