.container {
    margin-top: 20px;
    padding: 10px 30px;
}

.mat-card {
    padding-top: 25px;
    padding-bottom: 25px;
}

.mat-card-title,
.mat-card-actions {
    margin-left: 25px;
}

.label-padding {
    width: 40px;
}
