<div class="container">

    <mat-card>

        <mat-card-title>Usuários</mat-card-title>

        <mat-card-content>
            <mat-nav-list>
                <a mat-list-item *ngFor="let user of users" (click)="openEditUserModal(user)">
                    <button mat-icon-button *ngIf="canDeleteUser(user)" color="warn" (click)="deleteUser($event, user)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-icon *ngIf="!canDeleteUser(user)" class="label-padding"></mat-icon>       <!-- For padding -->
                    <label>{{user.username + ' &#8212; ' + user.email}}</label>
                </a>
            </mat-nav-list>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="openCreateUserModal()">Criar</button>
        </mat-card-actions>

    </mat-card>

</div>
