<div class="container">

    <mat-card>

        <mat-card-title>Usuários</mat-card-title>

        <mat-card-content>
            <mat-nav-list>
                <a mat-list-item *ngFor="let user of users" (click)="editUser(user)">
                    <button mat-icon-button color="warn" (click)="deleteUser(user)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    {{user.username + ' &#8212; ' + user.email}}
                </a>
            </mat-nav-list>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="createUser()">
                Criar
            </button>
        </mat-card-actions>

    </mat-card>

</div>
