<div class="board">

<div cdkDrag class="card-list mat-elevation-z1">
  <div class="row" fxLayoutAlign="start center">
    <h2 fxFlex="80" class="mat-h2"><span>TESTE</span></h2>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" cdkDragHandle>
      <!-- Filter Menu Starts Here-->
      <button fxFlex="50" mat-icon-button aria-label="Example icon-button with a menu">
        <mat-icon>filter_list</mat-icon>
      </button>
      <!-- <mat-menu>
        <button mat-menu-item>
          <mat-icon>arrow_downward</mat-icon>
          <span>Sort By(Date)</span>
        </button>
        <button mat-menu-item>
          <mat-icon>arrow_upward</mat-icon>
          <span>Sort By(Date)</span>
        </button>
      </mat-menu> -->
      <button fxFlex="50" mat-icon-button aria-label="Example icon-button with a menu">
        <mat-icon>drag_handle</mat-icon>
      </button>
    </div>
  </div>