<div class="container">

    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #drawer class="sidenav" mode="over">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <button mat-button class="w-100" routerLink="/dashboard/bugs">
                Bugs
            </button>
            <button mat-button class="w-100" routerLink="/dashboard/users">
                Usuários
            </button>
        </mat-drawer>

        <mat-drawer-content>
            <mat-toolbar color="primary">
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <label class="text-uppercase">Dashboard</label>

                <div class="user-info">
                    <label class="username">{{user.username}}</label>
                    <button mat-icon-button class="logout-btn" (click)="logout()">
                        <mat-icon>logout</mat-icon>
                    </button>
                </div>
            </mat-toolbar>

            <router-outlet></router-outlet>

        </mat-drawer-content>
    </mat-drawer-container>

</div>
