/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #303030;
    color: #fdfdfd;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-raised-button.mat-primary:hover {
    background-color: #5b1778;
}

.mat-icon-button .mat-icon:hover {
    font-weight: bold;
}

.w-100 {
    width: 100%;
}

.text-uppercase {
    text-transform: uppercase;
}
