<h1 mat-dialog-title>
    Criar novo Usuário
</h1>
<form [formGroup]="formUser" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <mat-form-field class="w-100" color="accent">
            <mat-label>Nome do Usuário</mat-label>
            <input formControlName="username" matInput>
        </mat-form-field>
        <mat-form-field class="w-100" color="accent">
            <mat-label>Email do Usuário</mat-label>
            <input formControlName="email" rows="4" matInput>
        </mat-form-field>
        <mat-form-field class="w-100" color="accent">
            <mat-label>Senha do Usuário</mat-label>
            <input formControlName="password" matInput>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <div class="w-100">
            <button class="w-100" mat-button color="accent" (click)="onNoClick()">
                Salvar
            </button>
        </div>
        <div class="w-100 mt-10">
            <button class="w-100" mat-button (click)="onNoClick()">
                Close
            </button>
        </div>
    </div>
</form>
