// Our custom element will be `display: inline` by default. Make it a block and add some spacing.
:host {
    display: block;
    margin-bottom: 8px;
}

.card {
    position: relative;
}

.mat-card-title {
    font-size: 20px;
}

// Remove Material's margin from the content since we have a row of chips.
.mat-card-content {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

// Spread out the actions content to the left and right.
.mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

// Add some spacing to the chip list
.mat-chip-list {
    display: block;
    margin-top: 12px;
}

.description {
    margin-top: 2% !important;
}

.author {
    font-size: 13px;
    font-weight: 500;
}

.description + .author {
    margin-top: 15px !important;
}
